<div class="panel panel-primary p5">
  <div class="panel-heading">
    <h1>Donation</h1>
    </div>
<p>
  <strong>Montant:</strong>
  <%= @donation.montant %>
</p>

<p>
  <strong>Date:</strong>
  <%= @donation.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @donation.user %>
</p>

<p>
  <strong>Mode paiement:</strong>
  <%= @donation.mode_paiement %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation), :class => "btn btn-success" %> |
<%= link_to 'Back', donations_path, :class => "btn btn-default"%>
</div>